.u-section-1 .u-sheet-1 {
  min-height: 1240px;
}

.u-section-1 .u-group-1 {
  width: 231px;
  min-height: 159px;
  height: auto;
  margin: 6px -37px 0 auto;
}

.u-section-1 .u-container-layout-1 {
  padding-right: 0;
  padding-left: 0;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  line-height: 0.6;
  font-size: 1rem;
  margin: 10px 0 0 19px;
  padding: 0;
}

.u-section-1 .u-icon-1 {
  color: rgb(255, 153, 0) !important;
  font-size: 1.875em;
}

.u-section-1 .u-btn-2 {
  background-image: none;
  line-height: 0.4;
  font-size: 1rem;
  margin: 20px auto 0 19px;
  padding: 0;
}

.u-section-1 .u-icon-2 {
  color: rgb(255, 153, 0) !important;
  font-size: 1.875em;
}

.u-section-1 .u-btn-3 {
  background-image: none;
  line-height: 0.6;
  font-size: 1rem;
  margin: 13px 0 0 19px;
  padding: 0;
}

.u-section-1 .u-icon-3 {
  color: rgb(255, 153, 0) !important;
  font-size: 1.875em;
}

.u-section-1 .u-group-2 {
  width: 231px;
  min-height: 218px;
  height: auto;
  margin: 7px -37px 0 auto;
}

.u-section-1 .u-container-layout-2 {
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
}

.u-section-1 .u-slider-1 {
  min-height: 218px;
  height: auto;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-carousel-indicators-1 {
  position: absolute;
  bottom: 10px;
}

.u-section-1 .u-carousel-item-1 {
  background-image: none;
}

.u-section-1 .u-container-layout-3 {
  padding: 30px 7px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  text-shadow: -2px 0px 8px rgba(128,128,128,1);
  font-size: 2.25rem;
  margin: 0 0 0 auto;
}

.u-section-1 .u-carousel-item-2 {
  background-image: none;
}

.u-section-1 .u-container-layout-4 {
  padding: 30px 0;
}

.u-section-1 .u-text-2 {
  font-size: 1.25rem;
  margin: 36px 0 0;
}

.u-section-1 .u-carousel-control-1 {
  width: 50px;
  height: 50px;
}

.u-section-1 .u-carousel-control-2 {
  width: 50px;
  height: 50px;
}

.u-section-1 .u-group-3 {
  width: 265px;
  min-height: 380px;
  height: auto;
  margin: -380px auto 0 -33px;
}

.u-section-1 .u-container-layout-5 {
  padding: 0 10px;
}

.u-section-1 .u-btn-4 {
  font-weight: 700;
  transition-duration: 0.5s;
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px);
  font-size: 1rem;
  margin: 0 auto 0 0;
  padding: 0;
}

.u-section-1 .u-icon-4 {
  font-size: 1.375em;
}

.u-section-1 .u-btn-5 {
  font-weight: 700;
  transition-duration: 0.5s;
  font-size: 1rem;
  margin: 0 auto 0 0;
  padding: 0;
}

.u-section-1 .u-icon-5 {
  font-size: 1.375em;
}

.u-section-1 .u-btn-6 {
  font-weight: 700;
  transition-duration: 0.5s;
  font-size: 1rem;
  margin: 0 auto 0 0;
  padding: 0;
}

.u-section-1 .u-icon-6 {
  font-size: 1.375em;
}

.u-section-1 .u-container-layout-6 {
  padding: 30px;
}

.u-section-1 .u-group-4 {
  width: 697px;
  min-height: 380px;
  height: auto;
  margin: -384px 203px 0 auto;
}

.u-section-1 .u-container-layout-7 {
  padding: 0 0 3px;
}

.u-section-1 .u-gallery-1 {
  height: 375px;
  margin-bottom: 0;
  margin-top: 1px;
}

.u-section-1 .u-carousel-indicators-2 {
  position: absolute;
  bottom: 10px;
}

.u-section-1 .u-carousel-item-3 {
  margin-right: 0;
}

.u-section-1 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-1 .u-carousel-item-4 {
  margin-right: 0;
}

.u-section-1 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-1 .u-carousel-item-5 {
  margin-right: 0;
}

.u-section-1 .u-over-slide-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-1 .u-carousel-item-6 {
  margin-right: 0;
}

.u-section-1 .u-over-slide-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-1 .u-carousel-item-7 {
  margin-right: 0;
}

.u-section-1 .u-over-slide-6 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-1 .u-carousel-control-3 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
  padding: 4px;
}

.u-section-1 .u-carousel-control-4 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
  padding: 4px;
}

.u-section-1 .u-group-5 {
  width: 1215px;
  min-height: 456px;
  height: auto;
  margin: 9px -37px 0;
}

.u-section-1 .u-container-layout-8 {
  padding: 0;
}

.u-section-1 .u-group-6 {
  min-height: 74px;
  height: auto;
  margin-top: 1px;
  margin-bottom: 0;
}

.u-section-1 .u-container-layout-9 {
  padding-right: 15px;
  padding-left: 15px;
}

.u-section-1 .u-btn-7 {
  background-image: none;
  font-size: 1.5625rem;
  margin: 7px auto 0 0;
  padding: 0;
}

.u-section-1 .u-icon-7 {
  color: rgb(255, 153, 0) !important;
  font-size: 1.875em;
}

.u-section-1 .u-text-3 {
  font-size: 1.875rem;
  margin: -60px auto 0 490px;
}

.u-section-1 .u-text-4 {
  font-size: 2.25rem;
  margin: -47px 422px 0 auto;
}

.u-section-1 .u-btn-8 {
  background-image: none;
  font-size: 1rem;
  margin: -41px 0 0 auto;
  padding: 0;
}

.u-section-1 .u-icon-8 {
  font-size: 1.875em;
}

.u-section-1 .u-list-1 {
  margin-top: 7px;
  margin-bottom: 0;
}

.u-section-1 .u-repeater-1 {
  grid-auto-columns: calc(16.6667% - 8.33333px);
  grid-template-columns: repeat(6, calc(16.6667% - 8.33333px));
  min-height: 350px;
  grid-gap: 10px;
}

.u-section-1 .u-container-layout-10 {
  padding: 10px 6px;
}

.u-section-1 .u-image-1 {
  height: auto;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-text-5 {
  line-height: 1.3;
  margin: 29px auto 0 0;
}

.u-section-1 .u-container-layout-11 {
  padding: 10px 6px;
}

.u-section-1 .u-image-2 {
  height: auto;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-text-6 {
  line-height: 1.3;
  margin: 29px auto 0 0;
}

.u-section-1 .u-container-layout-12 {
  padding: 10px 6px;
}

.u-section-1 .u-image-3 {
  height: auto;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-text-7 {
  line-height: 1.3;
  margin: 29px auto 0 0;
}

.u-section-1 .u-container-layout-13 {
  padding: 10px 6px;
}

.u-section-1 .u-image-4 {
  height: auto;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-text-8 {
  line-height: 1.3;
  margin: 29px auto 0 0;
}

.u-section-1 .u-container-layout-14 {
  padding: 10px 6px;
}

.u-section-1 .u-image-5 {
  height: auto;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-text-9 {
  line-height: 1.3;
  margin: 29px auto 0 0;
}

.u-section-1 .u-container-layout-15 {
  padding: 10px 6px;
}

.u-section-1 .u-image-6 {
  height: auto;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-text-10 {
  line-height: 1.3;
  margin: 29px auto 0 0;
}

.u-section-1 .u-group-7 {
  width: 1215px;
  min-height: 378px;
  height: auto;
  margin: 5px -37px 6px;
}

.u-section-1 .u-container-layout-16 {
  padding: 0;
}

.u-section-1 .u-text-11 {
  font-size: 2.25rem;
  margin: 3px auto 0 9px;
}

.u-section-1 .u-list-2 {
  margin-top: 8px;
  margin-bottom: 0;
}

.u-section-1 .u-repeater-2 {
  grid-auto-columns: calc(16.6667% - 8.33333px);
  grid-template-columns: repeat(6, calc(16.6667% - 8.33333px));
  min-height: 295px;
  grid-gap: 10px;
}

.u-section-1 .u-container-layout-17 {
  padding: 10px 6px 0;
}

.u-section-1 .u-image-7 {
  height: auto;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-text-12 {
  line-height: 1.3;
  margin: 29px auto 0 0;
}

.u-section-1 .u-container-layout-18 {
  padding: 10px 6px 0;
}

.u-section-1 .u-image-8 {
  height: auto;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-text-13 {
  line-height: 1.3;
  margin: 29px auto 0 0;
}

.u-section-1 .u-container-layout-19 {
  padding: 10px 6px 0;
}

.u-section-1 .u-image-9 {
  height: auto;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-text-14 {
  line-height: 1.3;
  margin: 29px auto 0 0;
}

.u-section-1 .u-container-layout-20 {
  padding: 10px 6px 0;
}

.u-section-1 .u-image-10 {
  height: auto;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-text-15 {
  line-height: 1.3;
  margin: 29px auto 0 0;
}

.u-section-1 .u-container-layout-21 {
  padding: 10px 6px 0;
}

.u-section-1 .u-image-11 {
  height: auto;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-text-16 {
  line-height: 1.3;
  margin: 29px auto 0 0;
}

.u-section-1 .u-container-layout-22 {
  padding: 10px 6px 0;
}

.u-section-1 .u-image-12 {
  height: auto;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-text-17 {
  line-height: 1.3;
  margin: 29px auto 0 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1241px;
  }

  .u-section-1 .u-group-1 {
    min-height: 219px;
    height: auto;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .u-section-1 .u-group-2 {
    min-height: 157px;
    margin-right: -40px;
    height: auto;
  }

  .u-section-1 .u-slider-1 {
    min-height: 154px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 26px;
    margin-left: 10px;
  }

  .u-section-1 .u-group-3 {
    width: 142px;
    margin-left: -34px;
    height: auto;
  }

  .u-section-1 .u-btn-4 {
    margin-left: 10px;
  }

  .u-section-1 .u-btn-5 {
    margin-left: 10px;
  }

  .u-section-1 .u-btn-6 {
    margin-left: 10px;
  }

  .u-section-1 .u-group-4 {
    width: 638px;
    margin-top: -380px;
    margin-right: auto;
    margin-left: 108px;
    height: auto;
  }

  .u-section-1 .u-carousel-control-3 {
    left: 8px;
  }

  .u-section-1 .u-carousel-control-4 {
    right: 8px;
  }

  .u-section-1 .u-group-5 {
    width: 1007px;
    margin-top: 7px;
    margin-left: -34px;
    margin-right: -34px;
    height: auto;
  }

  .u-section-1 .u-group-6 {
    margin-top: -5px;
    min-height: 61px;
    height: auto;
  }

  .u-section-1 .u-container-layout-9 {
    padding-left: 7px;
    padding-right: 7px;
  }

  .u-section-1 .u-btn-7 {
    margin-top: 3px;
    margin-left: 1px;
  }

  .u-section-1 .u-icon-7 {
    font-size: 1.6em;
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin-top: -53px;
    margin-left: 385px;
  }

  .u-section-1 .u-text-4 {
    width: auto;
    margin-top: -46px;
    margin-right: 324px;
  }

  .u-section-1 .u-btn-8 {
    margin-right: 1px;
  }

  .u-section-1 .u-list-1 {
    margin-top: 36px;
  }

  .u-section-1 .u-repeater-1 {
    grid-auto-columns: calc(16.666666666666668% - 8.333329999999998px);
    grid-template-columns: repeat(6, calc(16.666666666666668% - 8.333329999999998px));
    min-height: 301px;
  }

  .u-section-1 .u-image-1 {
    height: NaNpx;
  }

  .u-section-1 .u-image-2 {
    height: NaNpx;
  }

  .u-section-1 .u-image-3 {
    height: NaNpx;
  }

  .u-section-1 .u-image-4 {
    height: NaNpx;
  }

  .u-section-1 .u-image-5 {
    height: NaNpx;
  }

  .u-section-1 .u-image-6 {
    height: NaNpx;
  }

  .u-section-1 .u-group-7 {
    width: 1007px;
    margin-left: -34px;
    margin-right: -34px;
    height: auto;
  }

  .u-section-1 .u-repeater-2 {
    grid-auto-columns: calc(16.666666666666668% - 8.333329999999998px);
    grid-template-columns: repeat(6, calc(16.666666666666668% - 8.333329999999998px));
    min-height: 301px;
  }

  .u-section-1 .u-image-7 {
    height: NaNpx;
  }

  .u-section-1 .u-image-8 {
    height: NaNpx;
  }

  .u-section-1 .u-image-9 {
    height: NaNpx;
  }

  .u-section-1 .u-image-10 {
    height: NaNpx;
  }

  .u-section-1 .u-image-11 {
    height: NaNpx;
  }

  .u-section-1 .u-image-12 {
    height: NaNpx;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1021px;
  }

  .u-section-1 .u-group-1 {
    width: 162px;
    min-height: 110px;
    margin-top: 7px;
    margin-right: -38px;
  }

  .u-section-1 .u-btn-1 {
    font-size: 0.75rem;
    margin-top: 2px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-1 .u-btn-2 {
    font-size: 0.75rem;
    margin-top: 2px;
    margin-left: 0;
  }

  .u-section-1 .u-btn-3 {
    font-size: 0.75rem;
    margin-top: 0;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-1 .u-group-2 {
    width: 162px;
    min-height: 120px;
    margin-top: 6px;
    margin-right: -38px;
  }

  .u-section-1 .u-slider-1 {
    min-height: 99px;
  }

  .u-section-1 .u-container-layout-3 {
    padding: 9px 0 55px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.5rem;
    margin-top: 69px;
    margin-left: 7px;
    margin-right: 7px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    line-height: 1;
    margin-top: 0;
  }

  .u-section-1 .u-group-3 {
    width: 105px;
    min-height: 314px;
    margin-top: -314px;
    margin-left: -37px;
  }

  .u-section-1 .u-container-layout-5 {
    padding-top: 30px;
  }

  .u-section-1 .u-btn-4 {
    margin-top: 8px;
    margin-left: 13px;
  }

  .u-section-1 .u-icon-4 {
    font-size: 0.9376em;
  }

  .u-section-1 .u-btn-5 {
    margin-left: 13px;
  }

  .u-section-1 .u-btn-6 {
    margin-top: 6px;
    margin-left: 14px;
  }

  .u-section-1 .u-icon-6 {
    font-size: 0.9376em;
  }

  .u-section-1 .u-group-4 {
    width: 510px;
    min-height: 316px;
    margin-top: -316px;
    margin-left: 76px;
  }

  .u-section-1 .u-container-layout-7 {
    padding-bottom: 0;
  }

  .u-section-1 .u-gallery-1 {
    height: 316px;
    width: 512px;
    margin-top: 0;
    margin-left: -1px;
    margin-right: -1px;
  }

  .u-section-1 .u-carousel-control-3 {
    left: 6px;
  }

  .u-section-1 .u-carousel-control-4 {
    right: 6px;
  }

  .u-section-1 .u-group-5 {
    width: 794px;
    min-height: 356px;
    margin-top: 6px;
    margin-left: -37px;
    margin-right: -37px;
  }

  .u-section-1 .u-group-6 {
    margin-top: 0;
    min-height: 39px;
  }

  .u-section-1 .u-container-layout-9 {
    padding-left: 1px;
    padding-right: 1px;
  }

  .u-section-1 .u-btn-7 {
    font-size: 1.125rem;
    margin-top: 12px;
    margin-left: 6px;
  }

  .u-section-1 .u-icon-7 {
    font-size: 1.125rem;
  }

  .u-section-1 .u-text-3 {
    font-size: 1.125rem;
    margin-top: -29px;
    margin-left: 309px;
  }

  .u-section-1 .u-text-4 {
    font-size: 1.125rem;
    margin-top: -24px;
    margin-right: 326px;
  }

  .u-section-1 .u-btn-8 {
    margin-top: -24px;
    margin-right: 0;
    margin-bottom: 3px;
  }

  .u-section-1 .u-icon-8 {
    font-size: 0.9376em;
  }

  .u-section-1 .u-list-1 {
    margin-top: 18px;
  }

  .u-section-1 .u-repeater-1 {
    grid-auto-columns: calc(16.6667% - 8.33333px);
    grid-template-columns: repeat(6, calc(16.6667% - 8.33333px));
    min-height: 298px;
  }

  .u-section-1 .u-image-1 {
    transition-duration: 0.5s;
    transform: rotate(0deg) scale(1) translateX(0px) translateY(0px);
  }

  .u-section-1 .u-image-2 {
    transition-duration: 0.5s;
    transform: rotate(0deg) scale(1) translateX(0px) translateY(0px);
  }

  .u-section-1 .u-image-3 {
    transition-duration: 0.5s;
    transform: rotate(0deg) scale(1) translateX(0px) translateY(0px);
  }

  .u-section-1 .u-image-4 {
    transition-duration: 0.5s;
    transform: rotate(0deg) scale(1) translateX(0px) translateY(0px);
  }

  .u-section-1 .u-image-5 {
    transition-duration: 0.5s;
    transform: rotate(0deg) scale(1) translateX(0px) translateY(0px);
  }

  .u-section-1 .u-image-6 {
    transition-duration: 0.5s;
    transform: rotate(0deg) scale(1) translateX(0px) translateY(0px);
  }

  .u-section-1 .u-group-7 {
    width: 794px;
    min-height: 318px;
    margin: 8px -37px 7px;
  }

  .u-section-1 .u-text-11 {
    font-size: 1.25rem;
  }

  .u-section-1 .u-repeater-2 {
    grid-auto-columns: calc(16.6667% - 8.33333px);
    grid-template-columns: repeat(6, calc(16.6667% - 8.33333px));
    min-height: 260px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1579px;
  }

  .u-section-1 .u-group-1 {
    min-height: 119px;
    margin-top: 9px;
    margin-right: -35px;
  }

  .u-section-1 .u-btn-1 {
    font-size: 0.625rem;
    margin-top: 12px;
  }

  .u-section-1 .u-btn-2 {
    font-size: 0.625rem;
  }

  .u-section-1 .u-btn-3 {
    font-size: 0.625rem;
    margin-left: -1px;
  }

  .u-section-1 .u-group-2 {
    margin-top: 10px;
    margin-right: -35px;
  }

  .u-section-1 .u-slider-1 {
    min-height: 120px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-bottom: 30px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 37px;
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-1 .u-group-3 {
    min-height: 271px;
    margin-top: -277px;
  }

  .u-section-1 .u-container-layout-5 {
    padding-top: 8px;
    padding-bottom: 10px;
  }

  .u-section-1 .u-btn-4 {
    margin-top: 29px;
    margin-left: 18px;
  }

  .u-section-1 .u-btn-5 {
    margin-top: 2px;
    margin-left: 17px;
  }

  .u-section-1 .u-icon-5 {
    font-size: 0.9375rem;
  }

  .u-section-1 .u-btn-6 {
    margin-top: 0;
    margin-left: 17px;
  }

  .u-section-1 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-group-4 {
    width: 326px;
    min-height: 278px;
    margin-top: -273px;
    margin-left: 80px;
  }

  .u-section-1 .u-container-layout-7 {
    padding-top: 2px;
    padding-bottom: 2px;
  }

  .u-section-1 .u-gallery-1 {
    height: 274px;
    width: 327px;
  }

  .u-section-1 .u-carousel-control-3 {
    left: 5px;
  }

  .u-section-1 .u-carousel-control-4 {
    right: 5px;
  }

  .u-section-1 .u-group-5 {
    width: 610px;
    min-height: 657px;
    margin-top: 9px;
    margin-left: -35px;
    margin-right: -35px;
  }

  .u-section-1 .u-group-6 {
    width: 610px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-container-layout-9 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-1 .u-btn-7 {
    font-size: 0.9375rem;
    margin-top: 9px;
    margin-left: 0;
  }

  .u-section-1 .u-text-3 {
    font-size: 1rem;
    margin-top: -25px;
    margin-left: 210px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 252px;
  }

  .u-section-1 .u-btn-8 {
    margin-right: 3px;
    margin-bottom: 0;
  }

  .u-section-1 .u-repeater-1 {
    grid-auto-columns: calc(25% - 7.5px);
    grid-template-columns: repeat(4, calc(25% - 7.5px));
    min-height: 586px;
  }

  .u-section-1 .u-container-layout-10 {
    padding-bottom: 1px;
  }

  .u-section-1 .u-container-layout-11 {
    padding-bottom: 1px;
  }

  .u-section-1 .u-container-layout-12 {
    padding-bottom: 1px;
  }

  .u-section-1 .u-container-layout-13 {
    padding-bottom: 1px;
  }

  .u-section-1 .u-container-layout-14 {
    padding-bottom: 1px;
  }

  .u-section-1 .u-container-layout-15 {
    padding-bottom: 1px;
  }

  .u-section-1 .u-group-7 {
    min-height: 610px;
    width: 610px;
    margin-left: -35px;
    margin-right: -35px;
    margin-bottom: 9px;
  }

  .u-section-1 .u-list-2 {
    margin-top: 3px;
  }

  .u-section-1 .u-repeater-2 {
    grid-auto-columns: calc(25% - 7.5px);
    grid-template-columns: repeat(4, calc(25% - 7.5px));
    min-height: 561px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1872px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-bottom: 30px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-container-layout-5 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-1 .u-btn-4 {
    font-size: 0.9375rem;
  }

  .u-section-1 .u-btn-5 {
    font-size: 0.9375rem;
  }

  .u-section-1 .u-btn-6 {
    font-size: 0.9375rem;
  }

  .u-section-1 .u-group-4 {
    width: 418px;
    min-height: 213px;
    margin-top: 0;
    margin-left: -39px;
    margin-right: -39px;
  }

  .u-section-1 .u-container-layout-7 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-1 .u-gallery-1 {
    height: 213px;
    width: 419px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-carousel-control-3 {
    left: 3px;
  }

  .u-section-1 .u-carousel-control-4 {
    right: 3px;
  }

  .u-section-1 .u-group-5 {
    min-height: 664px;
    width: 404px;
    margin-left: -32px;
    margin-right: -32px;
  }

  .u-section-1 .u-group-6 {
    min-height: 52px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-btn-7 {
    font-size: 0.8125rem;
  }

  .u-section-1 .u-text-3 {
    font-size: 0.8125rem;
    margin-top: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-4 {
    font-size: 0.8125rem;
    margin-top: -18px;
    margin-right: auto;
    margin-left: 59px;
  }

  .u-section-1 .u-btn-8 {
    font-size: 0.625rem;
    margin-top: -27px;
    margin-right: 6px;
  }

  .u-section-1 .u-icon-8 {
    font-size: 0.625em;
  }

  .u-section-1 .u-repeater-1 {
    grid-auto-columns: calc(33.3333% - 6.66667px);
    grid-template-columns: repeat(3, calc(33.3333% - 6.66667px));
    min-height: 529px;
  }

  .u-section-1 .u-image-1 {
    height: auto;
  }

  .u-section-1 .u-image-2 {
    height: auto;
  }

  .u-section-1 .u-image-3 {
    height: auto;
  }

  .u-section-1 .u-image-4 {
    height: auto;
  }

  .u-section-1 .u-image-5 {
    height: auto;
  }

  .u-section-1 .u-image-6 {
    height: auto;
  }

  .u-section-1 .u-group-7 {
    min-height: 959px;
    width: 404px;
    margin: 9px -32px 0;
  }

  .u-section-1 .u-list-2 {
    margin-top: 9px;
  }

  .u-section-1 .u-repeater-2 {
    grid-auto-columns: calc(50% - 5px);
    grid-template-columns: repeat(2, calc(50% - 5px));
    min-height: 901px;
  }

  .u-section-1 .u-container-layout-17 {
    padding-bottom: 6px;
  }

  .u-section-1 .u-container-layout-18 {
    padding-bottom: 6px;
  }

  .u-section-1 .u-container-layout-19 {
    padding-bottom: 6px;
  }

  .u-section-1 .u-container-layout-20 {
    padding-bottom: 6px;
  }

  .u-section-1 .u-container-layout-21 {
    padding-bottom: 6px;
  }

  .u-section-1 .u-container-layout-22 {
    padding-bottom: 6px;
  }
}

.u-section-1 .u-btn-4,
.u-section-1 .u-btn-4:before,
.u-section-1 .u-btn-4 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-btn-4.u-btn-4.u-btn-4:hover {
  transform: translateX(10px) translateY(0px) scale(1) !important;
}

.u-section-1 .u-btn-4 {
  border-color: transparent !important;
}

.u-section-1 .u-btn-4.u-btn-4.u-btn-4.hover {
  transform: translateX(10px) translateY(0px) scale(1) !important;
}

.u-section-1 .u-btn-4 {
  border-color: transparent !important;
}

.u-section-1 .u-btn-6,
.u-section-1 .u-btn-6:before,
.u-section-1 .u-btn-6 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-btn-6.u-btn-6.u-btn-6:hover {
  transform: translateX(10px) translateY(0px) scale(1) !important;
}

.u-section-1 .u-btn-6 {
  border-color: transparent !important;
}

.u-section-1 .u-btn-6.u-btn-6.u-btn-6.hover {
  transform: translateX(10px) translateY(0px) scale(1) !important;
}

.u-section-1 .u-btn-6 {
  border-color: transparent !important;
}

.u-section-1 .u-btn-5,
.u-section-1 .u-btn-5:before,
.u-section-1 .u-btn-5 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-btn-5.u-btn-5.u-btn-5:hover {
  transform: translateX(10px) translateY(0px) scale(1) !important;
}

.u-section-1 .u-btn-5 {
  border-color: transparent !important;
}

.u-section-1 .u-btn-5.u-btn-5.u-btn-5.hover {
  transform: translateX(10px) translateY(0px) scale(1) !important;
}

.u-section-1 .u-btn-5 {
  border-color: transparent !important;
}

.u-section-1 .u-image-2,
.u-section-1 .u-image-2:before,
.u-section-1 .u-image-2 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-image-2.u-image-2.u-image-2:hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-1 .u-image-2.u-image-2.u-image-2.hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-1 .u-image-1,
.u-section-1 .u-image-1:before,
.u-section-1 .u-image-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-image-1.u-image-1.u-image-1:hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-1 .u-image-1.u-image-1.u-image-1.hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-1 .u-image-3,
.u-section-1 .u-image-3:before,
.u-section-1 .u-image-3 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-image-3.u-image-3.u-image-3:hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-1 .u-image-3.u-image-3.u-image-3.hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-1 .u-image-4,
.u-section-1 .u-image-4:before,
.u-section-1 .u-image-4 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-image-4.u-image-4.u-image-4:hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-1 .u-image-4.u-image-4.u-image-4.hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-1 .u-image-5,
.u-section-1 .u-image-5:before,
.u-section-1 .u-image-5 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-image-5.u-image-5.u-image-5:hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-1 .u-image-5.u-image-5.u-image-5.hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-1 .u-image-6,
.u-section-1 .u-image-6:before,
.u-section-1 .u-image-6 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-image-6.u-image-6.u-image-6:hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-1 .u-image-6.u-image-6.u-image-6.hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}.u-section-2 .u-sheet-1 {
  min-height: 664px;
}

.u-section-2 .u-group-1 {
  width: 1215px;
  min-height: 378px;
  height: auto;
  margin: 0 -37px 10px;
}

.u-section-2 .u-container-layout-1 {
  padding: 0;
}

.u-section-2 .u-text-1 {
  font-size: 2.25rem;
  margin: 3px auto 0 9px;
}

.u-section-2 .u-list-1 {
  margin-top: 8px;
  margin-bottom: 0;
}

.u-section-2 .u-repeater-1 {
  grid-auto-columns: calc(16.6667% - 8.33333px);
  grid-template-columns: repeat(6, calc(16.6667% - 8.33333px));
  min-height: 600px;
  grid-gap: 10px;
}

.u-section-2 .u-container-layout-2 {
  padding: 10px 6px 0;
}

.u-section-2 .u-image-1 {
  height: auto;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-text-2 {
  line-height: 1.3;
  margin: 29px auto 0 0;
}

.u-section-2 .u-container-layout-3 {
  padding: 10px 6px 0;
}

.u-section-2 .u-image-2 {
  height: auto;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-text-3 {
  line-height: 1.3;
  margin: 29px auto 0 0;
}

.u-section-2 .u-container-layout-4 {
  padding: 10px 6px 0;
}

.u-section-2 .u-image-3 {
  height: auto;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-text-4 {
  line-height: 1.3;
  margin: 29px auto 0 0;
}

.u-section-2 .u-container-layout-5 {
  padding: 10px 6px 0;
}

.u-section-2 .u-image-4 {
  height: auto;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-text-5 {
  line-height: 1.3;
  margin: 29px auto 0 0;
}

.u-section-2 .u-container-layout-6 {
  padding: 10px 6px 0;
}

.u-section-2 .u-image-5 {
  height: auto;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-text-6 {
  line-height: 1.3;
  margin: 29px auto 0 0;
}

.u-section-2 .u-container-layout-7 {
  padding: 10px 6px 0;
}

.u-section-2 .u-image-6 {
  height: auto;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-text-7 {
  line-height: 1.3;
  margin: 29px auto 0 0;
}

.u-section-2 .u-container-layout-8 {
  padding: 10px 6px 0;
}

.u-section-2 .u-image-7 {
  height: auto;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-text-8 {
  line-height: 1.3;
  margin: 29px auto 0 0;
}

.u-section-2 .u-container-layout-9 {
  padding: 10px 6px 0;
}

.u-section-2 .u-image-8 {
  height: auto;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-text-9 {
  line-height: 1.3;
  margin: 29px auto 0 0;
}

.u-section-2 .u-container-layout-10 {
  padding: 10px 6px 0;
}

.u-section-2 .u-image-9 {
  height: auto;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-text-10 {
  line-height: 1.3;
  margin: 29px auto 0 0;
}

.u-section-2 .u-container-layout-11 {
  padding: 10px 6px 0;
}

.u-section-2 .u-image-10 {
  height: auto;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-text-11 {
  line-height: 1.3;
  margin: 29px auto 0 0;
}

.u-section-2 .u-container-layout-12 {
  padding: 10px 6px 0;
}

.u-section-2 .u-image-11 {
  height: auto;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-text-12 {
  line-height: 1.3;
  margin: 29px auto 0 0;
}

.u-section-2 .u-container-layout-13 {
  padding: 10px 6px 0;
}

.u-section-2 .u-image-12 {
  height: auto;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-text-13 {
  line-height: 1.3;
  margin: 29px auto 0 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 675px;
  }

  .u-section-2 .u-group-1 {
    width: 1006px;
    min-height: 658px;
    margin-left: -33px;
    margin-right: -33px;
    margin-bottom: 17px;
    height: auto;
  }

  .u-section-2 .u-container-layout-1 {
    padding-bottom: 22px;
  }

  .u-section-2 .u-repeater-1 {
    min-height: 560px;
  }

  .u-section-2 .u-image-1 {
    height: NaNpx;
  }

  .u-section-2 .u-image-2 {
    height: NaNpx;
  }

  .u-section-2 .u-image-3 {
    height: NaNpx;
  }

  .u-section-2 .u-image-4 {
    height: NaNpx;
  }

  .u-section-2 .u-image-5 {
    height: NaNpx;
  }

  .u-section-2 .u-image-6 {
    height: NaNpx;
  }

  .u-section-2 .u-image-7 {
    height: NaNpx;
  }

  .u-section-2 .u-image-8 {
    height: NaNpx;
  }

  .u-section-2 .u-image-9 {
    height: NaNpx;
  }

  .u-section-2 .u-image-10 {
    height: NaNpx;
  }

  .u-section-2 .u-image-11 {
    height: NaNpx;
  }

  .u-section-2 .u-image-12 {
    height: NaNpx;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 581px;
  }

  .u-section-2 .u-group-1 {
    min-height: 572px;
    width: 793px;
    margin-left: -36px;
    margin-right: -36px;
    margin-bottom: 9px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-bottom: 2px;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.25rem;
  }

  .u-section-2 .u-repeater-1 {
    min-height: 534px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 843px;
  }

  .u-section-2 .u-group-1 {
    min-height: 854px;
    width: 610px;
    margin-left: -35px;
    margin-right: -35px;
    margin-bottom: 10px;
  }

  .u-section-2 .u-repeater-1 {
    grid-auto-columns: calc(25% - 7.5px);
    grid-template-columns: repeat(4, calc(25% - 7.5px));
    min-height: 766px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1083px;
  }

  .u-section-2 .u-group-1 {
    min-height: 1073px;
    width: 404px;
    margin-left: -32px;
    margin-right: -32px;
  }

  .u-section-2 .u-repeater-1 {
    grid-auto-columns: calc(33.3333% - 6.66667px);
    grid-template-columns: repeat(3, calc(33.3333% - 6.66667px));
    min-height: 1036px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 664px;
}

.u-section-3 .u-group-1 {
  width: 1215px;
  min-height: 378px;
  height: auto;
  margin: 0 -37px 10px;
}

.u-section-3 .u-container-layout-1 {
  padding: 0;
}

.u-section-3 .u-text-1 {
  margin: 3px auto 0 9px;
}

.u-section-3 .u-list-1 {
  margin-top: 8px;
  margin-bottom: 0;
}

.u-section-3 .u-repeater-1 {
  grid-auto-columns: calc(16.6667% - 8.33333px);
  grid-template-columns: repeat(6, calc(16.6667% - 8.33333px));
  min-height: 600px;
  grid-gap: 10px;
}

.u-section-3 .u-container-layout-2 {
  padding: 10px 6px 0;
}

.u-section-3 .u-image-1 {
  height: auto;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-text-2 {
  line-height: 1.3;
  margin: 29px auto 0 0;
}

.u-section-3 .u-container-layout-3 {
  padding: 10px 6px 0;
}

.u-section-3 .u-image-2 {
  height: auto;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-text-3 {
  line-height: 1.3;
  margin: 29px auto 0 0;
}

.u-section-3 .u-container-layout-4 {
  padding: 10px 6px 0;
}

.u-section-3 .u-image-3 {
  height: auto;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-text-4 {
  line-height: 1.3;
  margin: 29px auto 0 0;
}

.u-section-3 .u-container-layout-5 {
  padding: 10px 6px 0;
}

.u-section-3 .u-image-4 {
  height: auto;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-text-5 {
  line-height: 1.3;
  margin: 29px auto 0 0;
}

.u-section-3 .u-container-layout-6 {
  padding: 10px 6px 0;
}

.u-section-3 .u-image-5 {
  height: auto;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-text-6 {
  line-height: 1.3;
  margin: 29px auto 0 0;
}

.u-section-3 .u-container-layout-7 {
  padding: 10px 6px 0;
}

.u-section-3 .u-image-6 {
  height: auto;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-text-7 {
  line-height: 1.3;
  margin: 29px auto 0 0;
}

.u-section-3 .u-container-layout-8 {
  padding: 10px 6px 0;
}

.u-section-3 .u-image-7 {
  height: auto;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-text-8 {
  line-height: 1.3;
  margin: 29px auto 0 0;
}

.u-section-3 .u-container-layout-9 {
  padding: 10px 6px 0;
}

.u-section-3 .u-image-8 {
  height: auto;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-text-9 {
  line-height: 1.3;
  margin: 29px auto 0 0;
}

.u-section-3 .u-container-layout-10 {
  padding: 10px 6px 0;
}

.u-section-3 .u-image-9 {
  height: auto;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-text-10 {
  line-height: 1.3;
  margin: 29px auto 0 0;
}

.u-section-3 .u-container-layout-11 {
  padding: 10px 6px 0;
}

.u-section-3 .u-image-10 {
  height: auto;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-text-11 {
  line-height: 1.3;
  margin: 29px auto 0 0;
}

.u-section-3 .u-container-layout-12 {
  padding: 10px 6px 0;
}

.u-section-3 .u-image-11 {
  height: auto;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-text-12 {
  line-height: 1.3;
  margin: 29px auto 0 0;
}

.u-section-3 .u-container-layout-13 {
  padding: 10px 6px 0;
}

.u-section-3 .u-image-12 {
  height: auto;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-text-13 {
  line-height: 1.3;
  margin: 29px auto 0 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 693px;
  }

  .u-section-3 .u-group-1 {
    width: 1016px;
    min-height: 685px;
    height: auto;
    margin: -7px -38px 16px;
  }

  .u-section-3 .u-text-1 {
    margin-top: 10px;
  }

  .u-section-3 .u-repeater-1 {
    grid-auto-columns: calc(16.666666666666668% - 8.333329999999998px);
    grid-template-columns: repeat(6, calc(16.666666666666668% - 8.333329999999998px));
    min-height: 461px;
  }

  .u-section-3 .u-image-1 {
    height: NaNpx;
  }

  .u-section-3 .u-image-2 {
    height: NaNpx;
  }

  .u-section-3 .u-image-3 {
    height: NaNpx;
  }

  .u-section-3 .u-image-4 {
    height: NaNpx;
  }

  .u-section-3 .u-image-5 {
    height: NaNpx;
  }

  .u-section-3 .u-image-6 {
    height: NaNpx;
  }

  .u-section-3 .u-image-7 {
    height: NaNpx;
  }

  .u-section-3 .u-image-8 {
    height: NaNpx;
  }

  .u-section-3 .u-image-9 {
    height: NaNpx;
  }

  .u-section-3 .u-image-10 {
    height: NaNpx;
  }

  .u-section-3 .u-image-11 {
    height: NaNpx;
  }

  .u-section-3 .u-image-12 {
    height: NaNpx;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 648px;
  }

  .u-section-3 .u-group-1 {
    min-height: 646px;
    width: 791px;
    margin: 1px -36px;
  }

  .u-section-3 .u-repeater-1 {
    grid-auto-columns: calc(16.6667% - 8.33333px);
    grid-template-columns: repeat(6, calc(16.6667% - 8.33333px));
    min-height: 572px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 958px;
  }

  .u-section-3 .u-group-1 {
    min-height: 958px;
    width: 616px;
    margin: 0 -38px;
  }

  .u-section-3 .u-repeater-1 {
    grid-auto-columns: calc(25% - 7.5px);
    grid-template-columns: repeat(4, calc(25% - 7.5px));
    min-height: 866px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1242px;
  }

  .u-section-3 .u-group-1 {
    min-height: 1232px;
    width: 398px;
    margin-left: -29px;
    margin-right: -29px;
    margin-bottom: 10px;
  }

  .u-section-3 .u-repeater-1 {
    grid-auto-columns: calc(33.3333% - 6.66667px);
    grid-template-columns: repeat(3, calc(33.3333% - 6.66667px));
    min-height: 1152px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 664px;
}

.u-section-4 .u-group-1 {
  width: 1215px;
  min-height: 378px;
  height: auto;
  margin: 0 -37px 10px;
}

.u-section-4 .u-container-layout-1 {
  padding: 0;
}

.u-section-4 .u-text-1 {
  font-size: 2.25rem;
  margin: 3px auto 0 9px;
}

.u-section-4 .u-list-1 {
  margin-top: 8px;
  margin-bottom: 0;
}

.u-section-4 .u-repeater-1 {
  grid-auto-columns: calc(16.6667% - 8.33333px);
  grid-template-columns: repeat(6, calc(16.6667% - 8.33333px));
  min-height: 600px;
  grid-gap: 10px;
}

.u-section-4 .u-container-layout-2 {
  padding: 10px 6px 0;
}

.u-section-4 .u-image-1 {
  height: auto;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-4 .u-text-2 {
  line-height: 1.3;
  margin: 29px auto 0 0;
}

.u-section-4 .u-container-layout-3 {
  padding: 10px 6px 0;
}

.u-section-4 .u-image-2 {
  height: auto;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-4 .u-text-3 {
  line-height: 1.3;
  margin: 29px auto 0 0;
}

.u-section-4 .u-container-layout-4 {
  padding: 10px 6px 0;
}

.u-section-4 .u-image-3 {
  height: auto;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-4 .u-text-4 {
  line-height: 1.3;
  margin: 29px auto 0 0;
}

.u-section-4 .u-container-layout-5 {
  padding: 10px 6px 0;
}

.u-section-4 .u-image-4 {
  height: auto;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-4 .u-text-5 {
  line-height: 1.3;
  margin: 29px auto 0 0;
}

.u-section-4 .u-container-layout-6 {
  padding: 10px 6px 0;
}

.u-section-4 .u-image-5 {
  height: auto;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-4 .u-text-6 {
  line-height: 1.3;
  margin: 29px auto 0 0;
}

.u-section-4 .u-container-layout-7 {
  padding: 10px 6px 0;
}

.u-section-4 .u-image-6 {
  height: auto;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-4 .u-text-7 {
  line-height: 1.3;
  margin: 29px auto 0 0;
}

.u-section-4 .u-container-layout-8 {
  padding: 10px 6px 0;
}

.u-section-4 .u-image-7 {
  height: auto;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-4 .u-text-8 {
  line-height: 1.3;
  margin: 29px auto 0 0;
}

.u-section-4 .u-container-layout-9 {
  padding: 10px 6px 0;
}

.u-section-4 .u-image-8 {
  height: auto;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-4 .u-text-9 {
  line-height: 1.3;
  margin: 29px auto 0 0;
}

.u-section-4 .u-container-layout-10 {
  padding: 10px 6px 0;
}

.u-section-4 .u-image-9 {
  height: auto;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-4 .u-text-10 {
  line-height: 1.3;
  margin: 29px auto 0 0;
}

.u-section-4 .u-container-layout-11 {
  padding: 10px 6px 0;
}

.u-section-4 .u-image-10 {
  height: auto;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-4 .u-text-11 {
  line-height: 1.3;
  margin: 29px auto 0 0;
}

.u-section-4 .u-container-layout-12 {
  padding: 10px 6px 0;
}

.u-section-4 .u-image-11 {
  height: auto;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-4 .u-text-12 {
  line-height: 1.3;
  margin: 29px auto 0 0;
}

.u-section-4 .u-container-layout-13 {
  padding: 10px 6px 0;
}

.u-section-4 .u-image-12 {
  height: auto;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-4 .u-text-13 {
  line-height: 1.3;
  margin: 29px auto 0 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 678px;
  }

  .u-section-4 .u-group-1 {
    width: 1016px;
    min-height: 686px;
    height: auto;
    margin: -9px -38px 1px;
  }

  .u-section-4 .u-text-1 {
    margin-top: 12px;
  }

  .u-section-4 .u-repeater-1 {
    grid-auto-columns: calc(16.666666666666668% - 8.333329999999998px);
    grid-template-columns: repeat(6, calc(16.666666666666668% - 8.333329999999998px));
    min-height: 461px;
  }

  .u-section-4 .u-image-1 {
    height: NaNpx;
  }

  .u-section-4 .u-image-2 {
    height: NaNpx;
  }

  .u-section-4 .u-image-3 {
    height: NaNpx;
  }

  .u-section-4 .u-image-4 {
    height: NaNpx;
  }

  .u-section-4 .u-image-5 {
    height: NaNpx;
  }

  .u-section-4 .u-image-6 {
    height: NaNpx;
  }

  .u-section-4 .u-image-7 {
    height: NaNpx;
  }

  .u-section-4 .u-image-8 {
    height: NaNpx;
  }

  .u-section-4 .u-image-9 {
    height: NaNpx;
  }

  .u-section-4 .u-image-10 {
    height: NaNpx;
  }

  .u-section-4 .u-image-11 {
    height: NaNpx;
  }

  .u-section-4 .u-image-12 {
    height: NaNpx;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 617px;
  }

  .u-section-4 .u-group-1 {
    min-height: 609px;
    width: 790px;
    margin: 8px -35px 0;
  }

  .u-section-4 .u-text-1 {
    font-size: 1.25rem;
  }

  .u-section-4 .u-repeater-1 {
    grid-auto-columns: calc(16.6667% - 8.33333px);
    grid-template-columns: repeat(6, calc(16.6667% - 8.33333px));
    min-height: 557px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 945px;
  }

  .u-section-4 .u-group-1 {
    min-height: 937px;
    width: 606px;
    margin-left: -33px;
    margin-right: -33px;
  }

  .u-section-4 .u-repeater-1 {
    grid-auto-columns: calc(25% - 7.5px);
    grid-template-columns: repeat(4, calc(25% - 7.5px));
    min-height: 893px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1214px;
  }

  .u-section-4 .u-group-1 {
    min-height: 1200px;
    width: 398px;
    margin: 7px -29px;
  }

  .u-section-4 .u-repeater-1 {
    grid-auto-columns: calc(33.3333% - 6.66667px);
    grid-template-columns: repeat(3, calc(33.3333% - 6.66667px));
    min-height: 1145px;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 664px;
}

.u-section-5 .u-group-1 {
  width: 1215px;
  min-height: 378px;
  height: auto;
  margin: 0 -37px 10px;
}

.u-section-5 .u-container-layout-1 {
  padding: 0;
}

.u-section-5 .u-text-1 {
  font-size: 2.25rem;
  margin: 3px auto 0 9px;
}

.u-section-5 .u-list-1 {
  margin-top: 8px;
  margin-bottom: 0;
}

.u-section-5 .u-repeater-1 {
  grid-auto-columns: calc(16.6667% - 8.33333px);
  grid-template-columns: repeat(6, calc(16.6667% - 8.33333px));
  min-height: 600px;
  grid-gap: 10px;
}

.u-section-5 .u-container-layout-2 {
  padding: 10px 6px 0;
}

.u-section-5 .u-image-1 {
  height: auto;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-5 .u-text-2 {
  line-height: 1.3;
  margin: 29px auto 0 0;
}

.u-section-5 .u-container-layout-3 {
  padding: 10px 6px 0;
}

.u-section-5 .u-image-2 {
  height: auto;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-5 .u-text-3 {
  line-height: 1.3;
  margin: 29px auto 0 0;
}

.u-section-5 .u-container-layout-4 {
  padding: 10px 6px 0;
}

.u-section-5 .u-image-3 {
  height: auto;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-5 .u-text-4 {
  line-height: 1.3;
  margin: 29px auto 0 0;
}

.u-section-5 .u-container-layout-5 {
  padding: 10px 6px 0;
}

.u-section-5 .u-image-4 {
  height: auto;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-5 .u-text-5 {
  line-height: 1.3;
  margin: 29px auto 0 0;
}

.u-section-5 .u-container-layout-6 {
  padding: 10px 6px 0;
}

.u-section-5 .u-image-5 {
  height: auto;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-5 .u-text-6 {
  line-height: 1.3;
  margin: 29px auto 0 0;
}

.u-section-5 .u-container-layout-7 {
  padding: 10px 6px 0;
}

.u-section-5 .u-image-6 {
  height: auto;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-5 .u-text-7 {
  line-height: 1.3;
  margin: 29px auto 0 0;
}

.u-section-5 .u-container-layout-8 {
  padding: 10px 6px 0;
}

.u-section-5 .u-image-7 {
  height: auto;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-5 .u-text-8 {
  line-height: 1.3;
  margin: 29px auto 0 0;
}

.u-section-5 .u-container-layout-9 {
  padding: 10px 6px 0;
}

.u-section-5 .u-image-8 {
  height: auto;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-5 .u-text-9 {
  line-height: 1.3;
  margin: 29px auto 0 0;
}

.u-section-5 .u-container-layout-10 {
  padding: 10px 6px 0;
}

.u-section-5 .u-image-9 {
  height: auto;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-5 .u-text-10 {
  line-height: 1.3;
  margin: 29px auto 0 0;
}

.u-section-5 .u-container-layout-11 {
  padding: 10px 6px 0;
}

.u-section-5 .u-image-10 {
  height: auto;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-5 .u-text-11 {
  line-height: 1.3;
  margin: 29px auto 0 0;
}

.u-section-5 .u-container-layout-12 {
  padding: 10px 6px 0;
}

.u-section-5 .u-image-11 {
  height: auto;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-5 .u-text-12 {
  line-height: 1.3;
  margin: 29px auto 0 0;
}

.u-section-5 .u-container-layout-13 {
  padding: 10px 6px 0;
}

.u-section-5 .u-image-12 {
  height: auto;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-5 .u-text-13 {
  line-height: 1.3;
  margin: 29px auto 0 0;
}

@media (max-width: 1199px) {
  .u-section-5 .u-group-1 {
    min-height: 677px;
    width: 1016px;
    height: auto;
    margin: 8px -38px -7px;
  }

  .u-section-5 .u-repeater-1 {
    grid-auto-columns: calc(16.666666666666668% - 8.333329999999998px);
    grid-template-columns: repeat(6, calc(16.666666666666668% - 8.333329999999998px));
    min-height: 461px;
  }

  .u-section-5 .u-image-1 {
    height: NaNpx;
  }

  .u-section-5 .u-image-2 {
    height: NaNpx;
  }

  .u-section-5 .u-image-3 {
    height: NaNpx;
  }

  .u-section-5 .u-image-4 {
    height: NaNpx;
  }

  .u-section-5 .u-image-5 {
    height: NaNpx;
  }

  .u-section-5 .u-image-6 {
    height: NaNpx;
  }

  .u-section-5 .u-image-7 {
    height: NaNpx;
  }

  .u-section-5 .u-image-8 {
    height: NaNpx;
  }

  .u-section-5 .u-image-9 {
    height: NaNpx;
  }

  .u-section-5 .u-image-10 {
    height: NaNpx;
  }

  .u-section-5 .u-image-11 {
    height: NaNpx;
  }

  .u-section-5 .u-image-12 {
    height: NaNpx;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 621px;
  }

  .u-section-5 .u-group-1 {
    min-height: 605px;
    width: 788px;
    margin-left: -34px;
    margin-right: -34px;
    margin-bottom: 8px;
  }

  .u-section-5 .u-text-1 {
    font-size: 1.25rem;
  }

  .u-section-5 .u-repeater-1 {
    grid-auto-columns: calc(16.6667% - 8.33333px);
    grid-template-columns: repeat(6, calc(16.6667% - 8.33333px));
    min-height: 566px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 941px;
  }

  .u-section-5 .u-group-1 {
    width: 613px;
    min-height: 923px;
    margin: 9px -36px;
  }

  .u-section-5 .u-repeater-1 {
    grid-auto-columns: calc(25% - 7.5px);
    grid-template-columns: repeat(4, calc(25% - 7.5px));
    min-height: 888px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1245px;
  }

  .u-section-5 .u-group-1 {
    width: 410px;
    min-height: 1229px;
    margin: 8px -35px;
  }

  .u-section-5 .u-repeater-1 {
    grid-auto-columns: calc(33.3333% - 6.66667px);
    grid-template-columns: repeat(3, calc(33.3333% - 6.66667px));
    min-height: 1176px;
  }
}
.dropdown-toggle {
    background: none;
    border: none;
    color: white;
    font-family: inherit;
    cursor: pointer;
    padding: 10px 16px;
    display: flex;
    align-items: center;
}

.dropdown-toggle i {
    margin-right: 8px;
}

.dropdown-menu {
    display: none;
    position: absolute;
    background-color: #000000;
	left: -50px;
    min-width: 160px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    z-index: 1;
}

.dropdown-menu a {
    color: white;
    padding: 10px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-menu a:hover {
    background-color: #444;
}

.dropdown:hover .dropdown-menu {
    display: block;
}
.acc-button {
	margin-top: 15px;
	margin-right: 15px;
	margin-left:15px;
	margin-bottom: 15px;
	border-radius: 5px;
	min-width: 140px;
	min-height: 40px;
	background-color: #ff9900;
	border: none;
}
.acc-button:hover {
	background-color: #b36b00;
}
.icon-badge {
  position: relative;
  display: inline-block;
}

.icon-badge i {
  font-size: 18px;
}

.icon-badge .badge {
  position: absolute;
  font-weight: bold;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 13px;
  color: red;
  border-radius: 50%;
  padding: 2px 2px;
}
.u-container-layout {
  position: relative;
}

.u-container-layout .badge {
  position: absolute;
  border-radius: 1px;
  top: 15px;
  right: 10px;
  background-color: #000000;
  color: #FF8C00;
  padding: 1px 2px;
  font-size: 12px;
  z-index: 5;
}
.image {
      width: 300px;
      height: auto;
      display: block;
    }
	
.stock-bar-container {
  width: 100%;
  height: 5px;
  background-color: #e0e0e0;
  margin-bottom: 20px;
  border-radius: 5px;
  margin-top: 5px;
  overflow: hidden;
}

.stock-bar {
  height: 100%;
  background-color: #FF8C00;
  border-radius: 5px;
  transition: width 0.3s ease-in-out;
}
